.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
.env
logs/
translation_cache*.json
data/raw_cloud/
seek_dbt/target/
seek_dbt/logs/
seek_dbt/seek.duckdb
